extends layout

block content
  h1= title
  if refresh
    p= 'Data was refreshed on: ' + refresh
  p
    a(href='#' onclick='copyTable("coinTable");') Copy Table
  table(id='coinTable')
    tr
      th Name
      th Price (BTC)
      th ROI
      th Volume (BTC)
      th Node Count
      th Node Worth (BTC)
      th Volume/Worth Ratio
      th Daily Payout
    each coin in data
      tr
        td(class='name')= coin.name
        td(class='numbers')= coin.price
        td(class='numbers')= coin.roi + '%'
        td(class='numbers')= coin.volume
        td(class='numbers')= coin.nodes
        td(class='numbers')= coin.worth
        td(class='numbers')= coin.ratio
        td(class='numbers')= coin.payout
