extends layout

block content
  h1= title
  table
    tr
      td Name
      td Price (BTC)
      td ROI
      td Volume (BTC)
      td Node Count
      td Node Worth (BTC)
    each coin in data
      tr
        td= coin.name
        td= coin.price
        td= coin.roi + '%'
        td= coin.volume
        td= coin.nodes
        td= coin.worth
  p
    a(href='/refresh/') Refresh Data
