extends layout

block content
  h1= title
  table(class='max100')
    tr(id='longestRow')
      each coin in data
        td= coin.name
        td= coin.price
        td= coin.roi + '%'
        td= coin.volume
        td= coin.nodes
        td= coin.worth
        td= coin.ratio
        td
  p
    a(href='#' onclick='copyTable("longestRow");') Copy Table